# OSX
#
.DS_Store

#test-coverage
coverage

# Xcode
*xcworkspace/xcuserdata/*
/ios/Rampage.xcworkspace/xcuserdata
/ios/build/
/ios/*.pbxuser
/ios/Rampage.xcworkspace
/ios/!default.pbxuser
/ios/*.mode1v3
/ios/!default.mode1v3
/ios/*.mode2v3
/ios/!default.mode2v3
/ios/*.perspectivev3
/ios/!default.perspectivev3
/ios/xcuserdata
/ios/*.xccheckout
/ios/*.moved-aside
/ios/DerivedData
/ios/*.hmap
/ios/*.ipa
/ios/*.xcuserstate

# Android/IntelliJ
/android/app/build/
/android/.idea
/android/.gradle
/android/local.properties
/android/*.iml

# IntelliJ
.idea

# node.js
node_modules/
npm-debug.log
yarn-error.log

# History
.history/*


# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/


.env

ios/actimi.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
package-lock.json
.npmrc
.vscode/
